@import url("./reset.css");

@font-face {
    font-family: 'Source Sans';
    src: url("../fonts/SourceSans3-VariableFont_wght.woff2") format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans';
    src: url("../fonts/SourceSans3-Italic-VariableFont_wght.woff2") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-VariableFont_wght.woff2") format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Italic-VariableFont_wght.woff2") format('woff2');
    font-style: italic;
}

:root {
    /*colors*/
    --color-background: #FFFEFB;
    --color-text: #20211F;
    --color-text-light: grey;
    --color-primary: #7BBAA9;
    --color-light: #E7FCF8;
    --color-dark: #2A5D57;
    --color-accent: #CD93F0;

    /*spacing*/
    --s-s: 0.5rem;
    --s-0: 1rem;
    --s-m: 2rem;

    --marginLeftAndRight: 2rem;

    /*font-size*/
    --fs-0: 1rem;
    /*min. 1.5rem tot max. 4rem bij min-width: 320 en max-width 1240*/
    /* @link https://utopia.fyi/clamp/calculator?a=320,1240,24—64 */
    --fluid-24-64: clamp(1.5rem, 0.6304rem + 4.3478vw, 4rem);

    /*borders*/
    --fluid-border-width: clamp(0.05rem, 0.0326rem + 0.087vw, 0.1rem);
    --fluid-border-radius: clamp(0.2rem, 0.0957rem + 0.5217vw, 0.5rem);
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans';
    font-style: normal;
    overflow-x: hidden;
}

body {
    margin: var(--s-0) var(--marginLeftAndRight);
    font-size: .8rem;
    line-height: 1.2;
    background-color: var(--color-background);
}

main {
    margin: var(--s-0) 0;
}

h1,
h2,
h3 {
    color: var(--color-dark);
    font-family: 'Raleway';
}

h1 {
    font-weight: bold;
    font-size: var(--fluid-24-64);
}

h2 {
    font-weight: 600;
    font-size: var(--fs-0);
    margin-top: var(--s-m);
}

h3 {
    margin-top: 1.2rem;
    font-size: .9rem;
    font-weight: 600;
    color: var(--color-primary);
}
h4 {
    margin-top: 1rem;
    color: var(--color-dark);
    font-weight: 600;
}
p {
    max-width: 75ch;
    color: var(--color-text);
}
ul  ul{
    margin-left: var(--s-0);
}
ul li{
    padding: 0.2rem 0;
}
li {
    list-style-position: inside;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-dark);
}

img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

figure img {
    max-width: 320px;
    /*verkleinen*/
}

figure figcaption {
    font-style: italic;
    font-size: var(--fs-0);
    color: var(--color-text-light);
    margin: var(--s-s) 0 1.5rem 0;
}

strong {
    font-weight: 600;
    color: var(--color-accent);
}

button {
    font-size: var(--fs-0);
    border: none;
    background-color: var(--color-background);
    color: var(--color-dark);
    cursor: pointer;
}

button::before {
    content: "[ ";
    color: var(--color-dark);
}

button::after {
    content: " ]";
    color: var(--color-dark);
}

button:hover {
    color: var(--color-primary);
}

input[type="radio"] {
    display: none;
}

blockquote {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: var(--s-s) var(--s-0);
    margin: var(--s-0) 0;
    border: var(--fluid-border-width) solid var(--color-primary);
    border-radius: var(--fluid-border-radius);
}

blockquote * {
    color: var(--color-dark);
}

table, th, td{
    border: var(--fluid-border-width) solid var(--color-text-light);
    padding: 1rem;
}
pre {
    margin: var(--s-s) var(--s-0) var(--s-m) var(--s-0);
    padding: var(--s-0);
    border-radius: var(--fluid-border-radius);
    border: var(--fluid-border-width) solid var(--color-text-light);
}

code {
    color: var(--color-accent);
}

.line {
    font-size: .8rem;
}

.content h2:first-of-type {
    margin-top: 0;
}


@media screen and (min-width: 700px) {
    body {
        font-size: 1.2rem;
        --marginLeftAndRight: 4rem;
        margin: var(--s-0) var(--marginLeftAndRight);
    }

    h2 {
        font-size: 1.5rem;
        margin-top: var(--s-m);
    }

    h3 {
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .line {
        font-size: var(--fs-0);
    }
}

@media screen and (min-width: 800px) {
    body {
        --marginLeftAndRight: 6rem;
        margin: var(--s-0) var(--marginLeftAndRight);
    }
}

@media screen and (min-width: 1000px) {
    body {
        --marginLeftAndRight: 12rem;
        margin: var(--s-0) var(--marginLeftAndRight);
    }
}

@container blogpost (min-width: 20rem) {
    .blogpost__description {
        font-size: var(--fs-0);
    }
}