---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Welcome to my passion project blog!</h2>
	<p>
		This is where I will post about my journey learning [subject passion
		project].
	</p>
</BaseLayout>
