---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<style>
    * {
        margin: 2rem 0;
    }
    .description {
        font-style: italic;
        font-size: 1.5rem;
        font-weight: medium;
        border-left: 0.2rem solid var(--color-text);
        padding-left: 1rem;
    }
</style>

<BaseLayout
    pageTitle={frontmatter.title}
    homePage={false}
    pubDate={frontmatter.pubDate}
>
    <p class="description">{frontmatter.description}</p>
    <slot />
</BaseLayout>
