---
const { description } = Astro.props;
---

<style>
    .description {
        font-style: italic;
        font-size: 1.5rem;
        font-weight: medium;
        border-left: 0.2rem solid var(--color-text);
        padding-left: 1rem;
        margin-bottom: 1rem;
    }
</style>
    {description?.trim() &&(<p class="description">{description}</p>)}
    <slot />
